apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: organisation
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "-100"
spec:
  description: Organisation Project
  sourceRepos:
  - '*'
  destinations:
  - namespace: '*'
    server: https://kubernetes.default.svc
  clusterResourceWhitelist:
  - group: '*'
    kind: '*'
  namespaceResourceWhitelist:
  - group: '*'
    kind: '*'
