apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
# Patches or updates specific to the environment
# e.g., pointing to the specific RDS instance for this environment
