crds:
  enabled: true
  keep: true

replicaCount: 1

global:
  leaderElection:
    namespace: "cert-manager"

dns01RecursiveNameservers: "1.1.1.1:53,1.0.0.1:53"
dns01RecursiveNameserversOnly: true
podDnsPolicy: "None"
podDnsConfig:
  nameservers:
    - "1.1.1.1"
    - "1.0.0.1"

prometheus:
  enabled: false

serviceAccount:
  annotations:
    eks.amazonaws.com/role-arn: $(configmap:argocd/cluster-config#cert_manager_iam_role_arn)
