apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd
resources:
  - ../../base

components:
  - ../../components/cm-ignoredifferences
  - ../../components/dex
  - ../../components/ingress
