prometheusOperator:
  enabled: true
  admissionWebhooks:
    certManager:
      enabled: true
  resources:
    limits:
      cpu: 200m
      memory: 200Mi
    requests:
      cpu: 100m
      memory: 100Mi

alertmanager:
  enabled: false

kubelet:
  serviceMonitor:
    additionalLabels:
      cluster: $(configmap:argocd/cluster-config#cluster_name)

prometheus:
  prometheusSpec:
    resources:
      limits:
        cpu: 200m
        memory: 400Mi
      requests:
        cpu: 100m
        memory: 200Mi
    externalLabels:
      cluster: "$(configmap:argocd/cluster-config#cluster_name)"
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: "$(configmap:argocd/cluster-config#cluster-issuer)"
    hosts:
      - prometheus.$(configmap:argocd/cluster-config#clusterDNSZoneName)
    tls:
      - secretName: prometheus-tls
        hosts:
          - prometheus.$(configmap:argocd/cluster-config#clusterDNSZoneName)

grafana:
  enabled: true
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: "$(configmap:argocd/cluster-config#cluster-issuer)"
    hosts:
      - grafana.$(configmap:argocd/cluster-config#clusterDNSZoneName)
    tls:
      - secretName: grafana-tls
        hosts:
          - grafana.$(configmap:argocd/cluster-config#clusterDNSZoneName)

nodeExporter:
  enabled: true
  operatingSystems:
    linux:
      enabled: true
    aix:
      enabled: false
    darwin:
      enabled: false
