ingress:
  enabled: true
  apiVersion: "networking.k8s.io/v1/Ingress"
  ingressClassName: nginx
  annotations:
    cert-manager.io/cluster-issuer: "$(configmap:argocd/cluster-config#cluster-issuer)"
  dagsterWebserver:
    host: "dagster.$(configmap:argocd/cluster-config#clusterDNSZoneName)"
    path: "/"
    pathType: Prefix
    tls:
      enabled: true
      secretName: dagster-tls
  flower:
    host: "flower.$(configmap:argocd/cluster-config#clusterDNSZoneName)"
    path: "/"
    pathType: Prefix
    tls:
      enabled: true
      secretName: dagster-flower-tls

dagsterWebserver:
  nodeSelector:
    kubernetes.io/arch: amd64
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi

dagsterDaemon:
  nodeSelector:
    kubernetes.io/arch: amd64
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi

postgresql:
  enabled: false

rabbitmq:
  enabled: false

redis:
  enabled: false

flower:
  enabled: false

telemetry:
  enabled: false