# Default values for external-dns.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# https://github.com/kubernetes-sigs/external-dns/tree/master/charts/external-dns

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 256Mi

logLevel: info
logFormat: text

sources:
  - service
  - ingress

interval: 1m

policy: sync

registry: txt
txtOwnerId: $(configmap:argocd/cluster-config#cluster_name)
txtPrefix: $(configmap:argocd/cluster-config#cluster_name)_

domainFilters:
  - $(configmap:argocd/cluster-config#rootDNSZoneName)

provider:
  name: aws

serviceAccount:
  annotations:
    eks.amazonaws.com/role-arn: $(configmap:argocd/cluster-config#external_dns_iam_role_arn)

extraArgs:
  - --aws-zone-type=public
